
&spi2 {
        status = "okay";
        clock-frequency = <10000000>;
        cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
		// pinctrl-0 = <SPIM2_MISO_GPIO13>, <SPIM2_SCLK_GPIO12>;
};


&pinctrl {
	spim2_default: spim2_default {
		group1 {
			pinmux =
					 <SPIM2_SCLK_GPIO13>,
					 <SPIM2_MOSI_GPIO12>;
		};
	};
};

/ {
	// zephyr,user {
		// io-channels =
			// <&adc0 0>;
			// <&adc1 0>;
	// };
	aliases {
		// adc0 = &adc0;
		// adc1 = &adc1;
		joyleft = &button3;
		joyright = &button1;
		joyup = &button4;
		joydown = &button2;
		start = &button5;
		dash = &button6;
		shoot = &button7;

	};
	buttons {
		compatible = "gpio-keys";
		button1: button_1 { 
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; //  gpio0, so GPIO19
			label = "Button 1";
			zephyr,code = <0xb>;
		};
		button2: button_2 {
			gpios = <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;	
			label = "Button 2";
			zephyr,code = <0xb>;
		};
		button3: button_3 {
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;	
			label = "Button 3";
			zephyr,code = <0xb>;
		};
		button4: button_4 {
		gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;	//gpio1, so 15 + 32 = GPIO47
			label = "Button 4";
			zephyr,code = <0xb>;
		};
		button5: button_5 {
			gpios = <&gpio0 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;	//0
			label = "Button 5";
			zephyr,code = <0xb>;
		};
		button6: button_6 {
			gpios = <&gpio0 16 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;	//45
			label = "Button 6";
			zephyr,code = <0xb>;
		};
		button7: button_7 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Button 7";
			zephyr,code = <0xb>;
		};
	};


};

